.header{
        background: green;
        height: 60px;
}
.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}
.container{
    background: red;
    display: flex;
    height: 60px;
    align-items: center;
    flex-direction: column;
}
.menu{
    text-align: center;
    background: blue;
    width: 20%;
   
    
}
.content{
    text-align: center;
    background: violet;
    width: 80%;
}
.footer{
    clear: both;
    background: orange;
    height: 30px;
}